.profile{
    width: 300px;
    height: 300px;
    background-image: url(https://i.pinimg.com/originals/21/6e/43/216e43fad88ba22db7b9e78d5bc66c99.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    position: relative;
}
.notify{
    width: 40px;
    height: 40px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}